{% extends './layout_.html' %}

{% block title %} Servicios {% endblock %}


{% block body %}
            <ul>
                <li><a class="" href='/'>Inicio</a></li>
                <li><a class="active" href='/servicios'>Servicios</a></li>
                <li><a class="" href='/'>Galeria de Proyectos</a></li>
                <li><a class="" href='/'>Catalogo</a></li>
                <li><a class="" href='/'>Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="contenedor sombra">
        <div class="contTextos">
            <h1>Servicios de Aire acondicionado</h1>
        </div>

        <!--Los apartados van en el siguiente orden:
         1)Valeria : paquetes (de todos los tipos maneja) 
         2) Ernesto Morquech: manejadoras
         3) Diana: mini split .
         4) Nadia : cassete 
         
        nota: tanto en el style como en html , agreguen comentarios-->

        <!--Diana-MiniSplits-->
        <div class="contenedor-cuadricula ref">

            <div  class="cuadro miniSplits ">
                <h2>Mini Splits</h2>
                
                <h4>Instalación profesional:</h4>
                <p>Nuestro equipo de técnicos capacitados asegura una instalación precisa, optimizada para maximizar la eficiencia y vida útil del equipo.</p>
                <h4>Venta de mini splits con garantía:</h4>
                <p>Contamos con un catálogo disponible en nuestra página donde puedes explorar opciones de mini splits de diferentes capacidades y configuraciones. Todos nuestros productos están cubiertos por garantía.</p>
                <h4>Asesoría Especializada:</h4>
                <p>Te ayudamos a elegir el mini split adecuado según las características de tu espacio y las necesidades de climatización.</p>
                
                <div class="contTextos textoDescubre">
                    <h5 ><br>Explora nuestro catálogo en línea para conocer más y encuentra el mini split que mejor se adapte a tus necesidades.<h5>
                    <a class="boton" href="/catalogo">  Ver catálogo</a>
                </div>

            </div>

            <div class="cuadro contimagen">
                <div class="contenedor-imagenesProyectos">
                    <img src="{{ url_for('static', filename='images/miniSplit1.jpg') }}" alt="Imagen de chiller" class="imagenProyecto">
                </div>

            </div>
           
        </div>

        <!--Nadia - Cassette-->
        <div class="contenedor-cuadricula ref">
            <div class="cuadro contimagen">
                <div class="contenedor-imagenesProyectos">
                    <img src="{{ url_for('static', filename='images/cassete.png') }}" alt="Img cassette" class="imagenProyecto">
                </div>
            </div>
                        
            <div class="cuadro cassete">
                <h2>Cassette</h2>
                
                <h4>Instalación y mantenimiento especializado:</h4>
                <p>Nuestro equipo se enfoca en brindar un servicio de calidad en la instalación y mantenimiento de aires acondicionados tipo cassette, asegurando su óptimo funcionamiento en cualquier tipo de edificio, ya sea comercial o residencial.</p>
                <h4>Valoración técnica para una operación continua:</h4>
                <p>Además de realizar el mantenimiento necesario, nuestros técnicos llevan a cabo una valoración exhaustiva del estado del equipo para identificar posibles mejoras y asegurar una operación eficiente y duradera.</p>
            

            </div>
        </div>

        <div class="contTextos serviciosAire">
            <h3>Servicio general que ofrecemos en <br><strong>Mini Splits y Cassettes</strong></h3>
            
            <h4>Optimización del consumo energético</h4>
            <p>Ofrecemos una evaluación y optimización del consumo energético de los aires acondicionados, ajustando los parámetros para mejorar su eficiencia. Dicha evaluación nos ayuda al ajuste de <strong>temperaturas, horarios de funcionamiento y modos de operación</strong> para reducir costos y minimizar el impacto ambiental.</p>

            <h4>Plan de mantenimiento personalizado</h4>
            <p>Ofrecemos planes de mantenimiento personalizados según el <strong>tipo de uso y el nivel de actividad de cada espacio.</strong><br>Para espacios comerciales de alto tráfico, el plan podría incluir mantenimientos más frecuentes, mientras que para residencias podría ser menos intensivo.</p>
        </div>
    </main>
    
</body>

{% endblock %}
