{% extends './layout_.html' %}

{% block title %} catalogo {% endblock %}


{% block body %}

<ul>
    <li><a class="" href='/'>Inicio</a></li>
    <li><a class="" href='/servicios'>Servicios</a></li>
    <li><a class="" href='/'>Galeria de Proyectos</a></li>
    <li><a class="active" href='/catalogo'>Catalogo</a></li>
    <li><a class="" href='/'>Contacto</a></li>
          
</ul>
</a>
</nav>
</header>
<div>
    <h1>Nuestros Productos</h1>
    <div>
        <section class="catalog-container">
            {% for item in validados %}
            <div class="catalog-item">
              <article class="catalog-article">
                {% if item['Tipo'] == "solo frio" %}
                <img src="{{ url_for('static', filename='images/img_minisplit_F.png') }}" alt="Minisplit solo frío" class="catalog-image">
                {% elif item['Tipo'] == "frio/calor" %}
                <img src="{{ url_for('static', filename='images/img_minisplit_FC.png') }}" alt="Minisplit frío/calor" class="catalog-image">
                {% endif %}
                <div class="catalog-content">
                  <p class="catalog-details">
                    <strong>Tipo:</strong> {{ item['Tipo'] }}<br>
                    <strong>Inverter/Convencional:</strong> {{ item['Inverter/Convencional'] }}
                    <strong>Capacidad:</strong> {{ item['Capacidad'] }}
                    <br>
                    <strong>Voltaje:</strong> {{ item['Voltaje'] }}
                  </p>
                  <a href="/product/{{ item['id'] }}" class="btn btn-default">Te interesa<br>eset producto?</a>
                </div>
              </article>
            </div>
            {% endfor %}
          </section>          
    </div>
</div>




{% endblock %}

<!---

                
<div class="wrap">
    <h1>Escoge un producto</h1>
    <div class="store-wrapper">
        <section class="products-list">
            <div class="product-tem" category="prueba_1">
                {% for clave in validados %} 
                    <tr><td> {{ clave }} </td> 
                    <td> 
                        {{ loop.index }} 
                    </td> </tr>
                {% endfor %}
                
            </div>

        </section>
    </div>
</div>


                <img src="{{ url_for('static', filename='images/prueba_1.png') }}">
                <div>
                    <a>Minisplit York Solo Frío</a>
                    <a>Tipo: Solo Frío</a>
                    <a>Convencional </a>
                    <a>Capacidad 12000 btus </a>
                    <a>220 volts </a>
                </div>
                <li class="list-about__item">
                    <article class="list-about__article"> <img src="{{ url_for('static', filename='images/prueba_1.png') }}" alt="Minisplit" width="270" height="220" class="img-responsive">
                      <div class="list-about__inner">
                        <h2 class="ui-title-inner">Minisplit YORK muro alto de 1 tonelada sólo frío</h2>
                        <p class="ui-text"><strong>Modelo:</strong> YHGE12ZJMAXAORX<br>
                          <strong>Tipo:</strong> muro-alto<br>
                          <strong>Aire:</strong> frio                            </p>

                        </div>
                    </article>
                </li>

-->

